<!doctype html>
<html lang="pt-br">
<head>
    <title>Portfólio - David Jefferson</title>
    {{>head}}
</head>
<body>
    <div id="spin"></div>
    {{>body}}
    {{>footer}}
    {{>scripts}}
</body>
</html>
