<section id="portfolio">
    <div class="container">
        <header>
            <h1>Portfólio</h1>
        </header>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

            </div>
        </div>
    </div>
</section>
